<h1>Pledge Tracker</h1>

<%= link_to('Login', new_user_session_path)  %>  
</br>
 <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   
 </br>
<%= link_to "Sponser", greetings_hello_path %>